.convert-token-to-nft {
    display: flex;
    flex-flow: column nowrap;
  }
  
  .convert-token-to-nft-content {
    padding: 10px;
  }
  
  .convert-token-to-nft-container {
    height: 324px;
    width: 100%;
  }
  